<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <ul class="footer__socials">
                <li class="footer__socials-item">
                    <a class="footer__socials-link" href="https://vk.com/bitavto" title="Мы Вконтакте" target="_blank" rel="nofollow noopener noreferrer">
                        <img src="images/icons/socials/vk.png" alt="Вконтакте">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a class="footer__socials-link" href="https://www.instagram.com/bitavto.ru/" title="Мы в Instagram" target="_blank" rel="nofollow noopener noreferrer">
                        <img src="images/icons/socials/inst.png" alt="Instagram">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a class="footer__socials-link" href="https://www.youtube.com/channel/UCInNzrmFYFcvT4DgoYE0jnw" title="Мы на Youtube" target="_blank" rel="nofollow noopener noreferrer">
                        <img src="images/icons/socials/yt.png" alt="Youtube">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a class="footer__socials-link" href="https://www.facebook.com/bitavto.ru" title="Мы на Facebook" target="_blank" rel="nofollow noopener noreferrer">
                        <img src="images/icons/socials/fb.png" alt="Facebook">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a class="footer__socials-link" href="https://www.tiktok.com/@bitavto.ru" title="Мы в TikTok" target="_blank" rel="nofollow noopener noreferrer">
                        <img src="images/icons/socials/tt.png" alt="TikTok">
                    </a>
                </li>
            </ul>
            <div class="footer__logo"><img src="images/logo_small.svg" alt="БИТАВТО"></div>
            <p class="footer__copyright">© 2005-2011. БИТАВТО. Все права защищены</p>
            <a class="js-scroll-to footer__to-top" href="#top" title="Наверх">
                <svg class="icon">
                    <use xlink:href="#chevron_up"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>