<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="https://bitavto.ru/"><img src="images/logo.png" alt="БИТАВТО"></a>
        <div class="header__contacts">
            <div class="header__phones">
                <span class="header__phone"><span>СПБ</span>&nbsp;<a href="tel:+79217410066">+7 (921) 741-00-66</a></span>
                <span class="header__phones-divider"></span>
                <span class="header__phone"><span>МСК</span>&nbsp;<a href="tel:+79295650745">+7 (929) 565-07-45</a></span>
            </div>
            <div class="header__messangers">
                <a class="header__messanger" href="#" title="Мы в Telegram" target="_blank" rel="nofollow noopener noreferrer">
                    <img src="images/icons/socials/tg.png" alt="Telegram">
                </a>
                <a class="header__messanger" href="https://wa.me/79217410066" title="Мы в WhatsApp" target="_blank" rel="nofollow noopener noreferrer">
                    <img src="images/icons/socials/wa.png" alt="WhatsApp">
                </a>
            </div>
        </div>
        <button class="js-header-burger header__burger" type="button" title="Показать контакты">
            <svg class="icon">
                <use xlink:href="#kebab"></use>
            </svg>
        </button>
    </div>
</header>